* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    list-style: none;
    text-decoration: none;
  }

body{
    background-color: #230337;
}
a{
    font-size: 30px;
    height: 450px;
    color: #04D939;
}
nav{
    display: flex;
    justify-content: space-between;
}
h4{
    color: #FFFFFF;
    margin-left: 140px;
    margin-top: 45px;
    font-size: 35px;
}
.principal{
    list-style: none;
    text-decoration: none;
    display: flex ;
    gap: 50px ;
    margin-top: 30px;
    margin-right:200px ;
}
.principal  a{
   text-decoration: none;
}
.albuns1{
    display: flex;
    gap: 20px;
}
h1{
    margin-left: 40px;
    width: 319px;
    height: 43px;
    font-size: 40px;
    line-height: 75px;
    color: #FFFFFF;
}
h2{
    margin-left: 40px;
    width: 319px;
    height: 43px;
    font-size: 40px;
    line-height: 75px;
    color: #FFFFFF;
}
h3{
    margin-left: 40px;
    width: 319px;
    height: 43px;
    font-size: 40px;
    line-height: 75px;
    color: #FFFFFF;
}
.rock{
    background-color:#5E0466;
    width: 364px;
    height: 794px;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
}
.pop{
    background-color:#5E0466;
    width: 364px;
    height: 794px;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.funk{
    background-color:#5E0466;
    width: 364px;
    height: 794px;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.guns{
    margin-left: 10px;
    margin-top: 60px;
}
.kiss{
    margin-left: 10px;
    margin-top: 40px;
}
.pink{
    margin-left: 10px;
    margin-top: 40px;
}
.link{
    margin-left: 10px;
    margin-top: 40px;
}
.matalica{
    margin-top: 60px;
    margin-left: 20px;
}
.queen{
    margin-top: 40px;
    margin-left: 20px;
}
.beatles{
    margin-top: 40px;
    margin-left: 20px;
}
.ghost{
    margin-top: 40px;
    margin-left: 20px;
}
.harry{
    margin-top: 60px;
    margin-left: 20px;
}
.cold{
    margin-top: 40px;
    margin-left: 20px;
}
.melanie{
    margin-top: 40px;
    margin-left: 20px;
}
.mitski{
    margin-top: 40px;
    margin-left: 20px;
}

.cat{
    margin-top: 60px;
    margin-left: 20px;
}
.taylor{
    margin-top: 40px;
    margin-left: 20px;
}
.billie{
    margin-top: 40px;
    margin-left: 20px;
}
.the{
    margin-top: 40px;
    margin-left: 20px;
}
.fioti{
    margin-top: 60px;
    margin-left: 20px;
}
.lan{
    margin-top: 60px;
    margin-left: 20px;
}
.ludimila{
    margin-top: 40px;
    margin-left: 20px;
}
.trembala{
    margin-top: 40px;
    margin-left: 20px;
}
.paiva{
    margin-top: 40px;
    margin-left: 20px;
}
.todynho{
    margin-top: 40px;
    margin-left: 20px;
}
.coiso{
    margin-top: 40px;
    margin-left: 20px;
}
.gabriel{
    margin-top: 40px;
    margin-left: 20px;
}
@media screen and (max-width:600px) {
    
}