* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  list-style: none;
  text-decoration: none;
}

img:hover {
  transform: scale(1.1);
  transition: 500ms;
}
body {
  background-color: #230337;
}
a {
  font-size: 30px;
  color: white;
  font-family: "Righteous";
  color: #04d939;
}
nav {
  display: flex;
  justify-content: space-between;
}
h4 {
  color: #ffffff;
  margin-left: 100px;
  margin-top: 45px;
  font-size: 40px;
  font-family: "Righteous";
}

.nav-menu {
  font-family: "Righteous";
  color: #ffffff;
}
.navbar{
  font-weight: 400;
font-size: 35px;
gap: 20px;
justify-content: space-between;
margin-left: 300px;
}
.principal {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-right: 200px;
}
.principal a {
  text-decoration: none;
  font-family: "Righteous";
}

a:hover {
  color: #04d939;
  transform: scale(1.1);
}

.albuns1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 0 30px;
}

h1 {
  height: 43px;
  font-size: 40px;
  line-height: 75px;
  color: #fff;
}
h2 {
  margin-left: 40px;
  width: 319px;
  height: 43px;
  font-size: 40px;
  line-height: 75px;
  color: black;
}
h3 {
  margin-left: 40px;
  width: 319px;
  height: 43px;
  font-size: 40px;
  line-height: 75px;
  color: black;
}

.albuns1 .discos {
  flex: 1;
  text-align: center;
  max-width: 400px;
}
.categorias {
  background-color: #5e0466;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  margin-top: 40px;
}

.albuns1 .categorias .capa {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .albuns1 {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 0 auto;
    align-items: center;
  }
  .albuns1 .discos .categorias{
    width: 100%;
    margin: 0 15px;
  }
}
