* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    list-style: none;
    text-decoration: none;
  }

body{
    background-color: #230337;
}
a{
    font-size: 30px;
    height: 450px;
    color: #04D939;
}
nav{
    display: flex;
}
