* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    list-style: none;
    text-decoration: none;
  }

body{
    background-color: #230337;
}
a{
    font-size: 30px;
    height: 450px;
    color: #04D939;
    list-style: none;
    justify-content: flex-end;
}

a:hover{
    color: #FFF;
    transform: scale(1.1);
}

nav{
    display: flex;
}

h4{
    margin-top: 34px;
}
