/* font-family: 'Righteous', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #230337;
}
a{
    font-size: 30px;
    color: white;
    font-family: 'Righteous';
  color: #04d939;
}
nav {
  display: flex;
  justify-content: space-between;
}
h4 {
  color: #ffffff;
  margin-left: 100px;
  margin-top: 45px;
  font-size: 40px;
  font-family: "Righteous";
  
  
}

.nav-menu {
  font-family: "Righteous";
}
.principal {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-right: 200px;
}
.principal a {
  text-decoration: none;
  font-family: "Righteous";
}

h1 {
  color: #04d939;
 
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 79px;
  
  font-family: "Righteous";
}
label {
  
  
  
 
  font-size: 20px;
  
  color: #ffffff;
  font-family: "Righteous";
}
input {
  
  w60%
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
button {
  width: 240px;
  height: 61px;
  /* margin-left: 780px; */
  background: #04d939;
  border-radius: 10px;
  color: black;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

button:hover {
  color: #fff;
  transform: scale(1.1);
}

.cancelbtn {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  /* margin-left: 450px; */
  width: 155px;
  margin-top: 1px;
  color: black;
}

.cancelbtn:hover {
  
}

.container {
  padding: 16px;
  /* background-color: aquamarine; */
}
.check {
  width: 100%;
  color: #04d939;
  
  
}
.checkbox {
  
  width: 60%;
  height: 100%;
}

.remember {
  
}
.psw {
  color: #ffffff;
  margin-left: 540px;
  font-family: "Righteous";
  font-size: 30px;
}
.pass {
  font-size: 30px;
  margin-left: 10px;
  font-family: "Righteous";
}
#login{
  width: 90%;
  height: 60px;
}
#senha{
  width: 90%;
  height: 60px;
}

form{
 margin: 0 auto;
  /* background-color: aqua; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50%;

}
@media screen and (max-width: 400px) {
    body{
        overflow: hidden;
    }
    form{
      width: 100%;
      height: 50%;
    }
    
    
 
 

  .cancelbtn {
    width: 100px;
    height: 40px;
    margin-left: 40px;
    font-style: normal;
    font-weight: 10;
    font-size: 17px;
  }


}

  .cancelbtn:hover {
    transform: scale(1.1);
    color: white;
  }

  .container {
    padding: 10px;
  }
  .check {
    width: 20px;
    color: #04d939;
    margin-left: 10px;
    margin-top: -5px;
  }
  .checkbox {
    width: 15px;
    margin-bottom: 100px;
  }

  .remeber {
    margin-top: 10px;
  }
  .psw {
    color: #ffffff;
    margin-left: 20px;
    font-family: "Righteous";
    font-size: 20px;
  }
  .pass {
    font-size: 20px;
    margin-left: 20px;
    font-family: "Righteous";
  }

  .form{

    flex-direction: column;
    justify-content: flex-end;
  }
}
