/* font-family: 'Righteous', cursive; */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Righteous';
    color: #FFF;
    text-decoration: none;
}

body{
    background-color: #291240;
    
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    margin-top: -300px;
    margin-left: 15px;
}

.top {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.artista {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    transition: 0.5ms all ease-out;
    
}

.artista:hover{
    transform: scale(1.1);
    transition: 800ms;
}

.art {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.mensais {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.seg {
    border-width: 3px;
    border: solid;
    font-style: normal;
    font-weight: 50px;
    font-size: 32px;
}

.midTop {
    margin-top: -5px;
    margin-right: 100px;
}

.rightTop {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

a {
    font-size: 34px;
    height: 450px;
    color: white;
}



a:hover{
    color: #04D939 ;
    transform: scale(1.1);
}


.box {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 400px;
}

.box p {
    margin-left: 20px;
    
}


.pop p span {
    font-size: 26px;
}

.container-artista .pop {
    font-style: normal;
    font-weight: 20px;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    gap: 24px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-bottom: 40px;
    align-items: center;
    margin-top: 6px;
    flex: 1;
}

.one:hover{
    transform: scale(1.1);
    transition: 700ms;
}

.one{
    transition: 0.5ms all ease-out;
}

.two{
    transition: .0.5s all ease-out;
}

.two:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.tree{
    transition: 0.5ms all ease-out;
}

.tree:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.four{
    transition: 0.5ms all ease-out;
}

.four:hover{
    transform: scale(1.1);
    transition: 600ms;
}



.iti:hover{
    transform: scale(1.1);
    transition: 700ms;
}

.iti{
    transition: 0.5ms all ease-out;
}

.ni{
    transition: .0.5s all ease-out;
}

.ni:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.san{
    transition: 0.5ms all ease-out;
}

.san:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.yon{
    transition: 0.5ms all ease-out;
}

.yon:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.bum {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    list-style: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 80px;
    margin-bottom: 40px;
}

.album{
    margin-left: -20px;
}

.popu{
    margin-left: -270px;
}

.slavsfd {
    display: flex;
    align-items: center;
}
.fa-brands{
    color: #04D939;
}
.fa-circle-play{
    color: #04D939;
}
.fa-ellipsis-vertical{
    position: absolute;
    left: 550px;
    top: 380px;
    margin-top: 75px;
}
.LeftTop{
    display: flex;
}

h4{
margin-top: 25px;
margin-left: 35px;
font-style: normal;
font-weight: 400;
 font-size: 37px;
}

ul{
   display: flex;
    transition: 500ms;
    gap: 30px;
    
}

.nav-menu{
    display: flex;
    gap: 20px;
    align-items: center;
}

.principal{
    margin-left: 670px;
}
  
.cantor{
    margin-top: 25px;
}

.box span{
margin-left: 20px;
}
@media screen and (max-width: 400px) {

    .container-artista{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

   
    h4{
        color: #FFFFFF;
        margin-left: -40px;
        margin-top: 30px;
        font-size: 10px;
        font-family: 'Righteous';
    }
    .principal{
        font-size: 15px;
        margin-top: 24.20px;
       justify-content: flex-end;
        transform: scale(0.60);
        margin-right: 300px;
    }
    
     .cantor{
        width: 200px;
        margin-left: 80px;
        margin-top: -120px;
     }
      .nav-menu{
        transform: scale(0.60);
        margin-right: 209px;
      }
     h4{
        font-weight: 100;
      font-size: 7px;
      margin-top: -30px;
     }

     .midTop{
        font-size: 10px;
     }

     .mensais{
        width: 30px;
        margin-top: 60px;
        margin-left: -30px;
     }

     .seg{
      width: 40px;
      height: 35px;
      margin-left: -30px;
      width: 100px;
     }

     p{
        width: 1px;
     }
    
     .cu{
        font-size: 20px;
     }

     .artista{
        font-size: 30px;
        margin-top: 60px;
        margin-left: 10px;
     }

     .art{
        font-size: 20px;
        margin-left: 10px;
     }

     .pop{
        height: 10px;
        width: 10px;
     }

     .bum{
       display: flex;
       margin-right: 50px;
     }

   .iti{
    margin-left: -0px;
   }

    .bum{
        margin-left: -95px;
    }

    .album{
        align-items: center;
        margin-left: 45px;
    }

    .principal{
        margin-left: -100px;
        font-size: 30px;
        width: -190px;
        margin-top: 57px;
        align-items:center;
        justify-content: center;
    }


    
}

