/* font-family: 'Righteous', cursive; */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Righteous';
    color: #FFF;
    text-decoration: none;
}

body{
    background-color: #291240;
    
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    margin-top: -300px;
    margin-left: 15px;
}

.top {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.artista {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    transition: 0.5ms all ease-out;
    
}

.artista:hover{
    transform: scale(1.1);
    transition: 800ms;
}

.art {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.mensais {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.seg {
    border-width: 3px;
    border: solid;
    font-style: normal;
    font-weight: 50px;
    font-size: 32px;
}

.midTop {
    margin-top: -5px;
    margin-right: 100px;
}

.rightTop {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

a {
    font-size: 35px;
    height: 450px;
    color: #04D939;
    
    
    
}
a:hover{
    color: #FFF;
    transform: scale(1.1);
}


.box {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 400px;
}

.box p {
    margin-left: 20px;
    
}

.box span{

}

.pop p span {
    font-size: 26px;
}

.pop {
    font-style: normal;
    font-weight: 20px;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    gap: 24px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-bottom: 40px;
    align-items: center;
}

.one:hover{
    transform: scale(1.1);
    transition: 700ms;
}

.one{
    transition: 0.5ms all ease-out;
}

.two{
    transition: .0.5s all ease-out;
}

.two:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.tree{
    transition: 0.5ms all ease-out;
}

.tree:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.four{
    transition: 0.5ms all ease-out;
}

.four:hover{
    transform: scale(1.1);
    transition: 600ms;
}



.iti:hover{
    transform: scale(1.1);
    transition: 700ms;
}

.iti{
    transition: 0.5ms all ease-out;
}

.ni{
    transition: .0.5s all ease-out;
}

.ni:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.san{
    transition: 0.5ms all ease-out;
}

.san:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.yon{
    transition: 0.5ms all ease-out;
}

.yon:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.bum {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    text-decoration: none;
    list-style: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 80px;
    margin-bottom: 40px;
}

.slavsfd {
    display: flex;
    align-items: center;
}
.fa-brands{
    color: #04D939;
}
.fa-circle-play{
    color: #04D939;
}
.fa-ellipsis-vertical{
    position: absolute;
    left: 550px;
    top: 380px;
    margin-top: 75px;
}
.LeftTop{
    display: flex;
}

h4{
margin-top: 25px;
margin-left: 35px;
font-style: normal;
font-weight: 400;
 font-size: 36px;
}

ul{
    
   display: flex;
    justify-content: flex-end;
    margin-top: -35px;
    transition: 500ms;
    gap: 30px;
    align-items: center;
    margin-right: 160px;
}

  
.cantor{
    margin-top: 25px;
}

.box span{
margin-left: 20px;
}

@media screen and (max-width: 390px) {
    
}
